<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,150},{30,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{36,46}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{32,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,40},{30,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player13.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{36,54}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{36,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player14.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{36,54}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{36,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player15.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{36,54}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{36,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,40},{30,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player17.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,86},{44,44}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player18.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,72},{44,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player19.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,40},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,132},{30,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,72},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,40},{44,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,88},{42,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{42,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,118},{30,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{38,44}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player8.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,132},{36,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Player9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,118},{36,44}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerImages.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0080040894c3173c750ab2786b15e0$</string>
            <key>textureFileName</key>
            <string>PlayerImages.png</string>
        </dict>
    </dict>
</plist>
